@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Lexend", sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.header {
  background: #008200;
}

.container {
  margin: 0 auto;
  max-width: 144rem;
  padding: 0 1.5rem;
  width: 100%;
}

.Header-wrapper {
  height: 2.4rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.Header-item {
  margin-left: 2rem;
}

.Header-item-icon {
  flex: 0 0 1rem;
  margin-right: 0.6rem;
  max-width: 2.2rem;
}

.Header-item-label {
  color: #fff;
  white-space: nowrap;
}

.icon-bell {
  color: #fff;
}

.HeaderSearch {
  height: 136px;
  background: #f6f6f7;
}

.HeaderSearch .container {
  /* height: 136px; */
  /*  display: flex;
  align-items: center; */
}

.HeaderSearch-logo {
  margin-right: auto;
  max-width: 18.5rem;
}

.HeaderSearch-logo img {
  width: 50%;
  vertical-align: middle;
}

.justify-center {
  justify-content: center;
}

/* .HeaderSearch-search {
  background: #fff;
  border-radius: 3rem;
  flex: 1 1;
  margin: auto;
  margin-right: 100px;
  width: 500px;
  overflow: hidden;
} */

/* .HeaderSearch-search .Input {
    width: 100%;
  }

  .HeaderSearch-search .Input .ant-input {
    border: none;
    outline: none;
    width: 100%;
  } */

/* .Input .ant-input {
  border-radius: 1rem;
  box-shadow: none;
  font-size: 0.7rem;
  min-height: 1.2rem;
  height: 1.5rem;
  padding: 1rem 1.5rem;
}
 */
/* .ant-input:placeholder-shown {
  text-overflow: ellipsis;
}
 */
/* .HeaderSearch-search .Button .ant-btn {
  border-radius: 3rem;
  width: 100%;
  height: 32px;
} */
/* 
.Button .ant-btn.ant-btn-primary {
  background: #008200;
  border-color: #008200;
  color: #fff;
}
 */
/* .Button .ant-btn {
  align-items: center;
  box-shadow: 0 4px 20px 5px rgb(0 0 0 / 5%);
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  border: none;
} */
/* 
.HeaderSearch-account-link {
  text-transform: uppercase;
  color: #3b4045;
  font-size: 0.9rem;
  cursor: pointer;
} */

/* .HeaderSearch-account-link:hover {
  text-decoration: underline;
} */

.HeaderSearch-wrapper {
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.HeaderSearch-logo,
.HeaderSearch-form {
  flex-grow: 1;
}

.HeaderSearch-shopping {
  flex-basis: 30px;
  text-align: right;
  font-size: 1.6rem;
}

.HeaderSearch-form form input,
.HeaderSearch-form form button {
  border: none;
  font-size: 1rem;
}

.HeaderSearch-form form input {
  flex-basis: 500px;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px 12px;
}

.HeaderSearch-form form button {
  flex-basis: 70px;
  border-radius: 20px;
  background: #008200;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 198px;
}

.Icon {
  width: 100%;
  height: 100%;
}

.icon-search {
  font-size: 1.3rem;
}

.home-container {
  max-width: 1076px;
  margin: auto;
}
.slider-container {
  /* max-width: 1076px; */
  width: 100%;
  position: relative;
  /* margin: auto; */
}

.mySlides {
  height: 464px;
  /* display: none; */
}

.nextSlide {
  display: none;
}

.activeSlide {
  display: block;
}

.lastSlide {
  display: none;
}

.mySlides img {
  border-style: none;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider-container {
  margin-top: 40px;
}

.BooksCarousel {
  /* padding: 3rem 0 6rem; */
  margin-top: 50px;
}

.Button.ant-btn {
  align-items: center;
  border-radius: 3rem;
  border: 1px solid transparent;
  box-shadow: 0 4px 20px 5px rgb(0 0 0 / 5%);
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  height: 2rem;
  color: #008200;
}

.ant-btn > span {
  display: inline-block;
}

.BooksCarousel-arrow button {
  border-radius: 100%;
  border: 1px solid #008200;
  color: #008200;
  cursor: pointer;
}

.BooksCarousel-arrow button:not(:last-child) {
  margin-right: 10px;
  margin-left: 30px;
}

.BooksList {
  padding: 28px 0px;
}

.BookBlock {
  width: 15.313rem;
}

.BookBlock {
  /* align-items: center;
  justify-content: center; */
  padding-right: 14px;
}

.BookBlock .BookBlock-image {
  width: 200px;
}

.BookBlock .BookBlock-image img {
  /* max-width: 200px; */
  width: 100%;
  height: 272px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.BookBlock-title {
  font-size: 1rem;
  text-align: center;
  height: 45.5px;
  /* width: 100%; */
}

.BookBlock-author {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 20px;
}

.BookBlock-price {
  text-align: center;
}

.BookBlock-price del {
  font-size: 0.7rem;
}

.BookBlock-price span {
  padding-left: 8px;
  font-size: 0.788rem;
  color: #008200;
}

.BookBlock-action .BookBlock-icon button {
  border: 1px solid transparent;
  background: #008200;
  color: #fff;
  padding: 7px 7px;
  border-radius: 5px;
}

.BookBlock-action .BookBlock-icon button .shopping {
  font-size: 1.5rem;
}

.BookBlock-action .BookBlock-outline button {
  border: 1px solid #008200;
  background: #fff;
  padding: 12.8px 12.8px;
  width: 150px;
  border-radius: 5px;
}

.other-background {
  background: #f6f6f7;
}

.newsItem {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.newsItem .newsItem-info {
  padding: 10px 10px;
}

.newsItem .newsItem-img {
  width: 15rem;
  height: 10rem;
}

.newsItem .newsItem-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.newsItem .newsItem-title {
  margin-bottom: 16px;
}

.newsItem .newsItem-title div {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.newsItem .newsItem-content div {
  font-size: 0.8rem;
  color: #808080;
  overflow: hidden;
  line-height: 1.2rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 23;
  -webkit-box-orient: vertical;
}

.NewsTab-action {
  flex-direction: row;
  margin-bottom: 40px;
}

.NewsTab-action div:not(:last-child) {
  margin-right: 21px;
}

.newsItem-info .newsItem-title,
.newsItem-info .newsItem-content {
  max-width: 16rem;
}

.newsItem-info .newsItem-content {
  margin-bottom: 8px;
}

.newsItem-info .newsItem-content div {
  font-size: 0.8rem;
}

.newsItem-info .newsItem-title div {
  width: 100%;
}

.newsItem-info .newsItem-date {
  justify-content: space-between;
}

.newsItem-info .newsItem-date div,
.newsItem-info .newsItem-date div button {
  font-size: 0.7rem;
}

.newsItem-info .newsItem-date div {
  color: #008200;
}

.footer {
  background: #d4e1c2;
  padding: 56px 0px 40px 0px;
  color: #3b4045;
}

.footer-col {
  max-width: 15.547rem;
  width: 100%;
}

.footer .container .footer-logo {
  /* max-width: 6.5rem; */
}

.footer .container .footer-logo img {
  width: 50%;
}

.footer-logo span {
  font-size: 0.7rem;
}

.footer-logo-info {
  margin-bottom: 8px;
}

.footer-logo-info span {
  padding-left: 5px;
  width: 100%;
}

.footer-info {
  /* justify-content: flex-start; */
}

.footer-info .footer-info-link a {
  text-decoration: none;
  color: #3b4045;
  display: block;
  margin-bottom: 12px;
}

.footer-app-image {
  /* justify-content: center; */
}

.img1 .qr {
  width: 96px;
  margin-right: 20px;
}

.footer-app-title h2,
.footer-info-title h2 {
  margin: 0;
  margin-bottom: 16px;
}

.HeaderSearch-button {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .Header-item-icon {
    flex: 0 0 0.4rem;
    margin-right: 1.2rem;
    max-width: 2.2rem;
  }

  .Header-item {
    margin-left: 1.4rem;
  }

  .Header-wrapper {
    width: 100%;
    justify-content: center !important;
  }
  .news {
    flex-direction: column;
  }

  .newsItem .newsItem-img {
    width: 100%;
  }

  .newsItem .newsItem-img img {
    object-fit: cover;
  }

  .HeaderSearch-search,
  .HeaderSearch-account {
    display: none;
  }

  .HeaderSearch-form {
    display: none;
  }

  .HeaderSearch-wrapper {
    padding: 0;
  }

  .HeaderSearch-logo img {
    width: 120px;
  }

  .HeaderSearch-button {
    display: block;
  }

  .HeaderSearch {
    height: 80px;
  }

  .HeaderSearch-button,
  .HeaderSearch-search-icon {
    font-size: 2rem;
    flex: 50px 0 0;
    color: #008200;
  }
  .HeaderSearch-button {
    flex: 50px 0 0;
    padding-left: 10px;
  }
  .HeaderSearch-shopping {
    color: #008200;
    font-size: 2rem;
  }
  .mySlides {
    height: 129px;
  }

  .BooksCarousel-title {
    font-size: 0.875rem;
  }

  .BooksCarousel-see-more .Button span {
    font-size: 0.788rem;
  }

  .BooksList {
    justify-content: center;
  }

  .BookBlock {
    width: 11.938rem;
  }

  .BookBlock .BookBlock-image {
    width: 163px;
  }

  .BookBlock .BookBlock-image .BookBlock-image-front {
    /* width: 100%; */
  }

  .BookBlock .BookBlock-title {
    font-size: 0.875rem;
  }

  .BookBlock-outline button span {
    font-size: 0.788rem;
  }

  .BookBlock-action .BookBlock-outline button {
    width: 121px;
  }

  .footer .container {
    flex-direction: column;
  }

  .newsItem {
    align-items: flex-start
  }

  .newsItem-info .newsItem-title,
  .newsItem-info .newsItem-content {
    max-width: 100%;
  }
}
